body {
   font-family: Verdana, Arial, sans-serif;
   font-size: smaller;
   padding: 50px;
   color: #ffffff;
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
   background-color: #cccccc   
}

h1 {
   letter-spacing: 6px;
   font-size: 1.6em;
   color: #660000;
   font-weight: bold;
}

h2 {
   text-align: left;
   letter-spacing: 6px;
   font-size: 1.4em;
   color: #ffffff;
   font-weight: normal;
}

table {
   width: 700px;
   background-color: #003333;
   font-family: sans-serif;
   margin-top: 20px;
}

td {
   padding: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-size: 1.2em;
}

.entete{
   letter-spacing: 6px;
   font-size: 1.7em;
   color: #660000;
   font-weight: bold;
}

.text{
	color: #660000;
}