body {
   font-family: Verdana, Arial, sans-serif;
   font-size: smaller;
   padding: 50px;
   color: #000000;
   width: 1000px;
   margin-left: auto;
   margin-right: auto;   
}

h1 {
   letter-spacing: 6px;
   font-size: 1.6em;
   color: #be7429;
   font-weight: bold;
}

h2 {
   text-align: left;
   letter-spacing: 6px;
   font-size: 1.4em;
   color: #be7429;
   font-weight: normal;
}

table {
   width: 700px;
   background-color: #cccccc;
   font-family: sans-serif;
}

td {
   padding: 10px;
}

a {
  color: #be7429;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.entete{
   letter-spacing: 6px;
   font-size: 1.7em;
   color: #be7429;
   font-weight: bold;
}